[submodule "DummyEngine/vendor/spdlog"]
	path = DummyEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DummyEngine/vendor/GLFW"]
	path = DummyEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
